@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-size-200 {
    background-size: 200% auto;
    transition: background-position 0.6s ease;
  }
  .bg-pos-100 {
    background-position: 100% center;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #000;
  color: white;
}